@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Titillium+Web:wght@300;400;700;900&display=swap");

/* font-family: 'JetBrains Mono', monospace; */
/* 400 / 700 */
/* font-family: 'Titillium Web', sans-serif; */
/* 400 700 900 */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

:root {
  --primary-color: #0a0a0a;
  --secondary-color: #f6f9ff;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: "Titillium Web", sans-serif;
  background-color: var(--secondary-color);
}

a {
  color: #002eff;
  text-decoration: none;
  border-bottom: 2px solid #002eff;
}

/* a:focus {
  outline: none;
} */

.scrollbar-container {
  width: 8px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 46, 255, 0.5);
  z-index: 3;
}

.scrollbar {
  width: 8px;
  height: 17%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0, 46, 255);
  transition: all 0.4s ease;
}

.logo a {
  border-bottom: 0;
}

.g-text {
  background: -webkit-linear-gradient(#23e0f5, #002eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g-i-text {
  background: -webkit-linear-gradient(60deg, #23e0f5, #002eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  font-weight: 700;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.6s;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  color: #f6f9ff;
  background-color: #002eff;
  border: 3px solid #002eff;
}

.btn-primary:hover {
  color: #002eff;
  background-color: transparent;
}

.btn-secondary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
}

.btn-secondary:hover {
  opacity: 0.8;
}

.sidenav {
  position: fixed;
  height: auto;
  top: calc(100% / 2 - 60px);
  right: 35px;
}

.sidetag {
  cursor: pointer;
  list-style-type: none;
  width: 12px;
  height: 12px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 4px;
  margin: 20px 15px;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideactive::after {
  content: "";
  background-color: #002eff;
  width: 4px;
  height: 4px;
  border-radius: 1px;
}

.sideactive {
  border: 2px solid #002eff;
  background-color: var(--secondary-color);
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 40px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  z-index: 2;
  border-bottom: 1px solid #fff;
}

.mobile-nav {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 101%;
  z-index: 2;
  opacity: 0;
  transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1), opacity 0.4s ease;
}

.left-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  height: 100vh;
  z-index: inherit;
}

.right-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  min-width: 300px;
  padding: 100px 40px 40px 40px;
  background-color: var(--primary-color);
  z-index: inherit;
}

.mobile-nav ul {
  list-style: none;
}

.nav-tabs {
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 20px;
  font-family: "JetBrains Mono", monospace;
}

.logo {
  font-weight: 700;
}

.nav-tab {
  margin: 10px;
}

.nav-tab a {
  color: #f6f9ff;
  opacity: 0.85;
  transition: all 0.2s;
}

.nav-tab a:hover {
  opacity: 1;
}

.nav-mini {
  display: flex;
  flex-flow: row nowrap;
}

.theme {
  width: 40px;
  height: 40px;
  color: #002eff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.4s;
}

.mobile-toggle {
  display: none;
}

.mobile-toggle.active {
  color: var(--secondary-color);
  background: linear-gradient(230deg, #23e0f5, #002eff);
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  padding: 120px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f6f9ff;
  border-bottom: 1px solid #000;
}

/* hero-section */

.hero h2 {
  width: 80%;
  margin: 0 auto;
  letter-spacing: -1px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4.25rem;
  margin-bottom: 25px;
}

.hero p {
  line-height: 0.9;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  font-size: 1.75rem;
}

/* advantages-section */

.advantages-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.adv-mini-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 240px;
  margin: 25px;
}

.adv-mini-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-mini-container h4 {
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

.adv-mini-container h3 {
  margin: 10px 0 0 0;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

.adv-mini-container p {
  text-align: center;
}

/* about-section */

.main-container {
  text-align: center;
  width: 100%;
  margin: 60px auto 0;
  padding: 40px;
  background-color: var(--secondary-color);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.main-container h5 {
  letter-spacing: 2px;
  font-size: 1.25em;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-container p {
  line-height: 1;
}

.headline {
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.about-mini-container {
  text-align: left;
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px;
  font-size: 0.75em;
}

.about-mini-container h6 {
  font-size: 1.25em;
}

/* partners-section */

.partners img {
  width: 120px;
  height: auto;
  filter: invert(1);
  margin: 20px;
}

.partners h4 {
  font-size: 2rem;
  margin: 20px;
}

.partners-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.partners-container a {
  border-bottom: 0;
}

/* tokenomics-section */

.tokenomics {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.tokenomics-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.tokenomics-info h5 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tokenomics-info h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 20px;
}

.tokenomics-info .btn {
  margin-left: 0;
}

.tokens-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}

.token {
  width: 100%;
  text-align: center;
  margin: 20px;
  padding: 30px 40px 40px 40px;
  background-color: var(--secondary-color);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 4px;
}

.token h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.token p {
  white-space: pre-wrap;
}

/* footer-section */

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.footer-upper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.subscription-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.email-input {
  font-weight: 700;
  text-align: left;
  width: 50%;
  min-width: 240px;
  margin: 10px 10px 10px 0;
  padding: 10px 20px 10px 0;
  font-family: "JetBrains Mono", monospace;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.email-input:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid #002eff;
}

.social-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.social-container a {
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  margin: 10px;
  border-bottom: 0;
  transition: all 0.4s;
}

.social-container a:hover {
  color: #002eff;
}

.footer-middle {
  width: calc(100% - 10px);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 20px;
}

.footer-tag {
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "JetBrains Mono", monospace;
}

.footer-mini-container li a {
  color: currentColor;
  border-bottom: 0;
}

.footer-mini-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
}

.footer-mini-container ul {
  list-style: none;
}

.footer-mini-container li::before {
  font-family: serif;
  content: "•";
  margin-right: 4px;
}

.footer-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .logo {
  font-size: 2rem;
}

.footer-bottom small {
  width: 50%;
  line-height: 1.25;
}

/* Focus and Active States */
.logo a:focus {
  border-bottom: 2px solid #fff;
}

.nav-tab a:focus {
  border-bottom: 2px solid #fff;
}

.theme:focus {
  color: var(--secondary-color);
  background-color: #002eff;
  border: 2px solid --secondary-color;
}

/* Media Queries */

@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .advantages-container {
    margin-top: 40px;
  }

  .adv-mini-container {
    margin: 0 20px;
  }

  .wrapper {
    padding-bottom: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  body {
    overflow-y: auto;
  }

  .section {
    height: fit-content;
  }

  .hero {
    margin-top: 80px;
  }

  .hero h2 {
    font-size: 3.75rem;
    width: 100%;
  }

  .hero p {
    width: 70%;
    font-size: 1.375rem;
  }

  .adv-mini-container {
    margin: 15px;
    font-size: 0.875rem;
  }

  .sidenav {
    display: none;
  }

  .main-container {
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    font-size: 1rem;
  }

  .wrapper {
    padding: 10px;
  }

  .tokenomics {
    flex-flow: column nowrap;
  }

  .token {
    width: 100%;
  }

  .token:first-of-type {
    margin-left: 0;
  }

  .token:last-of-type {
    margin-right: 0;
  }

  .footer-middle {
    margin-top: 20px;
    justify-content: space-between;
  }

  .footer-mini-container {
    flex: 0 1 calc(33% - 20px);
    justify-self: center;
  }

  .footer-tag {
    font-size: 0.875rem;
  }

  .footer-mini-container li {
    line-height: 1.05;
    margin: 4px 0;
  }

  .footer-mini-container li::before {
    display: none;
  }

  .footer-mini-container li a {
    font-size: 0.75rem;
  }

  .footer-bottom small {
    font-size: 0.75rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .nav-mini {
    display: flex;
    flex-flow: row nowrap;
  }

  .nav-tabs {
    display: none;
  }

  .mobile-nav.active {
    opacity: 1;
    left: 0;
  }

  .mobile-nav-tabs {
    font-size: 1.25rem;
  }

  .mobile-nav .social-container a {
    color: var(--secondary-color);
  }

  .mobile-nav .social-container a:hover {
    color: #002eff;
  }

  .mobile-toggle {
    display: flex;
    margin-left: 10px;
  }

  .hero h2 {
    font-size: 3rem;
  }

  .about-mini-container {
    width: 100%;
    margin: 10px 10px 10px 0;
  }

  .about-mini-img {
    margin-right: 10px;
  }

  .tokens-container {
    width: 100%;
    flex-flow: column nowrap;
  }

  .tokenomics-info {
    margin-bottom: 20px;
  }

  .token {
    margin: 15px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section {
    padding: 80px 40px;
  }

  .tokenomics-info p {
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 2rem;
    text-align: left;
    margin-left: 10px;
  }

  .hero p {
    text-align: left;
    font-size: 1.25rem;
    margin: 0 auto 20px 10px;
  }

  .btn-container {
    align-self: start;
  }

  .btn {
    margin: 5px 10px;
    font-size: 0.75rem;
  }

  .main-container .headline {
    line-height: 0.9;
    margin-bottom: 20px;
  }

  .footer-upper {
    flex-flow: column nowrap;
  }

  .subscription-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .email-input {
    width: 60%;
    margin: 10px 0;
    padding: 10px 20px;
  }

  .footer-mini-container {
    flex: 0 1 calc(50% - 20px);
  }

  .footer-bottom {
    flex-flow: column-reverse nowrap;
  }

  .footer-bottom small {
    width: 100%;
    margin: 20px 0;
  }
}
